<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
<% } %>
<p>asdasdasd</p>
<a href="/mail">Mail Check</a>

<a href="/voice">voice</a>

<a href="/login">Login</a>
