<a href="/mail">Get Email from list</a>

<p>Mail platform</p>
<a href="/login">Login</a>
<a href="/voice">voice</a>


<ul>
    <% for(var i=0; i<data.length; i++) { %>
        <li>
            <%=data[i] %>
                
         
        </li>
    <% } %>
</ul>

